.container {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 0.6rem 1rem 1rem 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    & > :first-child {
        padding: 0.6rem;
        border-bottom: 1px solid gray;
        input {
            font-size: 1.2rem;
            width: 100%;
            border: none;
            height: 2rem;
        }
    }
    & > :nth-child(2) {
        padding: 0.6rem;
        textarea {
            width: 100%;
            border: none;
            height: 5rem;
        }
    }
    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        button {
            padding: 0.6rem 1rem;
            border-radius: 10px;
            border: 1px solid gray;
            background-color: white;
        }
    }
}
